/* Set the background color to dark slate and text color to green */


@import url('https://cdn.jsdelivr.net/gh/source-foundry/Hack@latest/build/web/hack.css');


body {
    background-color: black; /* Dark Slate */
    color: #32CD32; /* Green */
    font-family: 'Hack', monospace;
    margin: 0;
    padding: 0;

}

header {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 2.5rem;
}

main {
    text-align: center;
    padding: 20px;
}

.preview-popup {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    font-size: 14px;
    display: none;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Inline popup styles */
#alert-message {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
    font-size: 14px;
    opacity: 0;  /* Start as invisible */
    transition: opacity 2s ease-in-out;  /* Fade effect */
}

/* Hidden class to initially hide the alert */
.hidden {
    opacity: 0;
}



button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: #005f73;
}
