/* Set the background color to dark slate and text color to green */


@import url('https://cdn.jsdelivr.net/gh/source-foundry/Hack@latest/build/web/hack.css');


body {
    background-color: black; /* Dark Slate */
    color: #32CD32; /* Green */
    font-family: 'Hack', monospace;
    margin: 0;
    padding: 0;

}

header {
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 2.5rem;
}

main {
    text-align: center;
    padding: 20px;
}

